/* Page de connexion */
#connec {
  margin : 0 auto;
  border: solid 2px;
  text-align: center;
  width: fit-content;
}

#connec1 {
  margin: auto;
}

#bg_connect {
  background-image: url('ophtalmo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
  text-align: center;
}

/* BARRE DE NAVIGATION */
	/* "Contenant" de la barre de navigation */
	.navbar {
	  overflow: hidden;
	  background-color: #333;
	  font-family: Arial;
	}

	/* Liens dans la barre de navigation */
	.navbar a {
	  float: right;
	  font-size: 16px;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	}

	/* Contenant du bouton déroulant */
	.dropdown {
	  float: right;
	  overflow: hidden;
	}

	/* Bouton déroulant */
	.dropdown .dropbtn {
	  font-size: 16px;
	  border: none;
	  outline: none;
	  color: white;
	  padding: 14px 16px;
	  background-color: inherit;
	  font-family: inherit; /* Important for vertical align on mobile phones */
	  margin: 0; /* Important for vertical align on mobile phones */
	}

	/* Fond rouge quand on passe le curseur */
	.navbar a:hover, .dropdown:hover .dropbtn {
	  background-color: red;
	}

	/* Contenu du bouton dérulant (par défaut : caché) */
	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: #f9f9f9;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}

	/* Liens dans le bouton déroulant */
	.dropdown-content a {
	  float: inherit;
	  color: black;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	  text-align: left;
	}

	/* Fond gris quand on passe le curseur sur les liens du bouton déroulant */
	.dropdown-content a:hover {
	  background-color: #ddd;
	}

	/* Dérouler les éléments du bouton au passage du curseur */
	.dropdown:hover .dropdown-content {
	  display: block;
	}

/* Page d'accueil */
#table1 {
  vertical-align: middle;
  horizontal-align: middle;
  border-spacing: 100px 4rem; ;
  margin: auto;
  margin: auto 
}

/* Page d'affichage des stats (Kler*/
#stats {
  vertical-align: middle;
	horizontal-align: middle;
  border-spacing: 100px 1rem; ;
  margin: auto;
  margin: auto }
	
/* Espace data manager */
#DataM {
  
}

#EDM {
  border-style:solid;
  margin-inline-start:inherit;
  margin-inline-end: inherit;
}

/* Page d'affichage des prescriptions */ 
#presc {
  margin : auto;
  width: 50%;
  border-style: solid;
  border-collapse:collapse;
  table-layout: auto;
}

#presc1 {
  border-style: solid;
      
}

.presc2  {
  table-layout: auto;
  border-style: solid;      
}

/* Format affichage des antécédents */
#atcd {
  width: 50%;
  border-style: solid;
  border-collapse:collapse;
  table-layout: auto;
}

.atcd1 {
  border-style: solid;
}

.atcd2 {
  border-style: solid;
}


/* Page des médecins */

#infoMed  {
  vertical-align: middle;
  font-family: arial,sans-serif;
  font-size: 16px;
  margin : auto;
  width: 20%;
  border: 1px solid black;
}


/* Liens à la fin de la page  */
#end_table {
	position: absolute;
	bottom: 0;
}
	
#end_page
{
  	font-family: Arial;
  	font-size: 16px;
  	color: black;

}


/* Mise en pages des listes déroulantes */

#selectbox {
    background-color: transparent;
    border: 1px solid #C0C0C0;
    border-radius: 20px;
    box-shadow: none;
    color: inherit;
    font-family: 'Roboto','Noto',sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 4px;
    max-width: 60%;
    outline: none;
    text-align: inherit;
    width: fit-content;
    padding: 5px 5px;
}

/* Mise en page des boutons */

#bouton 
{
    background-color: #BDC3C7 ;
    border: 1px solid lightgray;
    border-radius: 15px;
    color: black;
    font-family: 'Roboto','Noto',sans-serif;
    font-size: 15px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;  
    
}

/* N'affiche plus les options vides dans les listes déroulantes */ 
select > option[value=""] {
    display: none;
}


